.draggable-window {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 750px;
    height: 500px;
    background-color: #333;
    color: white;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    user-select: none;
}

.window-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #444;
    padding: 10px;
    font-weight: bold;
}
.window-header p {
    margin: 0;
    padding: 0;
}

.window-body {
    padding: 15px;
    display: flex;
    height: 100%;
}

.wh-right {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.wh-right div {
    font-size: 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.wh-right div:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.draggable-window.maximized {
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0 !important;
}




.resizer {
    position: absolute;
    background: transparent;
    z-index: 10000;
}

.resizer-top,
.resizer-bottom {
    height: 5px;
    left: 0;
    right: 0;
    cursor: ns-resize;
}
.resizer-top {
    top: 0;
}
.resizer-bottom {
    bottom: 0;
}

.resizer-left,
.resizer-right {
    width: 5px;
    top: 0;
    bottom: 0;
    cursor: ew-resize;
}
.resizer-left {
    left: 0;
}
.resizer-right {
    right: 0;
}


.resizer-top-left,
.resizer-top-right,
.resizer-bottom-left,
.resizer-bottom-right {
    width: 10px;
    height: 10px;
    background: transparent;
    z-index: 10001;
}
.resizer-top-left {
    top: 0;
    left: 0;
    cursor: nwse-resize;
}
.resizer-top-right {
    top: 0;
    right: 0;
    cursor: nesw-resize;
}
.resizer-bottom-left {
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
}
.resizer-bottom-right {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}