* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: transparent;
  
}

.calculadora {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #1a1a1a;
  color: #fff;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  gap: 20px;
}

.calc-painel {
  background-color: #222;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  font-size: 2.5rem;
  text-align: right;
  height: 80px;
  flex-shrink: 0;
  overflow-x: auto;
}

.calc-bottons {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
}

.calc-bottons button,
.calc-bottons div {
  font-size: 1.5rem;
  padding: 0;
  border: none;
  border-radius: 10px;
  background-color: #444;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
  height: 100%;
}

.calc-bottons button:hover {
  background-color: #666;
}

.zero-btn {
  grid-column: span 2;
}

.calc-bottons div {
  background: transparent;
  cursor: default;
}
