@import '/src/styles/components/bottom-bar.css';
@import '/src/styles/components/paginas.css';
@import '/src/styles/icon-apps/icons.css';

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
#page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content-wrap {
    flex: 1;
}