@import '/src/styles/components/bottom-bar.css';
@import '/src/styles/components/paginas.css';
@import '/src/styles/icon-apps/icons.css';
@import '/src/styles/components/click-right.css';

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
#page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content-wrap {
    flex: 1;
}

#content-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: block;
    background-color: #1e1e1e; 
}

.app {
    width: 64px;
    height: 64px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.1s, top 0.1s;
}

.app ion-icon {
    font-size: 40px;
    color: white;
}