<section id="bottom-bar">
    <div class="bb-left">
        <div class="eimus-wrapper">
            <button id="btnEimus" class="eimi">
                Eimi
            </button>
            <div class="popup-eimus">
                <div class="pe-top">
                    <button>sair</button>
                </div>
                <div class="pe-wrapper">
                    <div class="pe-left">
                        <div class="pe-left-topbar">
                            <button data-eimi="acessorio">Acessórios</button> <!--calculadora, notas-->
                            <button data-eimi="config">Configurações</button> <!--Aparencia, font-->
                            <button data-eimi="escritorio">Escritório</button> <!--Paint-->
                            <button data-eimi="jogos">Jogos</button>
                        </div>
                    </div>
                    <div class="pe-right">
                        <div class="pe-descricoes">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn-bar-right" id="arquivos">Arq</button>
    </div>
    <div class="bb-right">

        <div class="volume-wrapper">
            <button id="volume-btn" class="volume">
                <ion-icon id="volume-icon" name="volume-low"></ion-icon>
            </button>
            <div id="volume-popup">
                <input type="range" id="volume-slider" min="0" max="100" value="50" />
            </div>
        </div>

        <div class="bb-date">
            <span id="clock"></span>
            <span id="date"></span>
        </div>
    </div>
</section>