.app, .folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 70px;
  border-radius: 10px;
  padding: 5px 0;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.folder:hover, .app:hover {
  background-color: #555;
}

.folder .icone, .app .icone {
  color: #fff;
  font-size: 30px;
  margin-bottom: 5px;
}

.folder p, .app p {
  font-size: 10px;
  color: #eee;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
  padding: 0;
}
